In [1]:
import pandas as pd
data = pd.read_csv("tds.csv")
data.head()

,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
0,0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0,0.268651
1,1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0,0.190937
2,2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0,0.122265
3,3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0,0.100503
4,4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0,0.050376

In [2]:
from sklearn.cluster import KMeans

In [4]:
data_for_clustering = data.drop(columns =['record number', 'Stock Return %'])
data_for_clustering.head()

,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %
0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0
1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0
2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0
3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0
4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0

In [6]:
kmeans = KMeans(n_clusters=7, random_state=1729)
data["Cluster"] = kmeans.fit_predict(data_for_clustering)
data.head()

,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %,Cluster
0,0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0,0.268651,6
1,1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0,0.190937,6
2,2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0,0.122265,6
3,3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0,0.100503,6
4,4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0,0.050376,6

In [7]:
pairs = [(264,604), (727,750), (342,840), (660,540)]

for pair in pairs: 
    cluster_pair = data.loc[data['record number'].isin(pair),'Cluster'].tolist()
    
    if cluster_pair[0] == cluster_pair[1]:
         print(f"Pair {pair} belongs to the same cluster.")
    else:
        print(f"Pair {pair} does not belong to the same cluster.")

Pair (264, 604) does not belong to the same cluster.
Pair (727, 750) belongs to the same cluster.
Pair (342, 840) does not belong to the same cluster.
Pair (660, 540) does not belong to the same cluster.